<hmtl>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        <title>Todo list, settings</title>
    </head>
    <body>
        <h1>Settings</h1>
        <div>
            <button id="Dashboard_link" onclick="location.href=`{{ url_for('index') }}`">Dashboard</button>
            <button id="Mirror_dashboard_link" onclick="location.href=`{{ url_for('mirror_dashboard') }}`">Mirror Dashboard</button>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    
</hmtl>